body {
    font-family: "Bradley Hand ITC";
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    background-color: #A02209;
    padding: 0.5vh 8vw;
    text-align: center;
    color: white;
    border-radius: 44% 20% 55% 25%;
}

.wrapper {
    
    background-color: rgba(180, 179, 179, 0.699);
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.699), rgba(180, 179, 179, 0.699),  rgba(122, 121, 121, 0.699));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
}

.instructions {
    position: absolute;
    z-index: 5;
    width: 50vw;
}

.mobile-instructions {
    display: none;
    position: absolute;
    z-index: 5;
}

.heading-box {
    z-index: 6;
}
.overlay {
    background-color: rgba(100, 110, 116, 0.411);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.canvas-box {
    background:
        linear-gradient(135deg,
        #a32a061e 25%,
        rgba(0,0,0,0) 25.1%),
        linear-gradient(225deg,
        #a32a061e 25%,
        rgba(0,0,0,0) 25.1%),
        linear-gradient(315deg,
        #a32a061e 25%,
        rgba(0,0,0,0) 25.1%),
        linear-gradient(45deg,
        #a32a061e 25%,
        rgba(0,0,0,0) 25.1%),
        #cecdcd;
    background-size: 40px 40px;
    background-position: -20px 0, -20px 0, 0 0, 0 0;
    width: 1150px;
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    border: 4px solid #685e5b56;
    border-radius: 8px;
}

.btn-box {
    margin-bottom: 3vh;
    z-index: 6;
}

.btn-secondary {
    margin: 2vh 1rem 0 1rem;
    font-size: 2rem;
    padding: 0.2rem 2rem;
    background: rgba(86, 86, 95, 1);
    border: none;
    font-weight: bold;
    border-radius: 20% 44% 25% 55%;

}

.btn-secondary:hover {
    background-color: rgb(143, 7, 7);
}

/* .fullscreen-btn {

} */

.d-none {
    display: none;
}
.safari-overlay {
    background-color: gray;
    opacity: 0.3;
}
.safari-blocker-msg {
    position: absolute;
    top: 20vh;
    right: 25vw;
    left: 25vw;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    background: rgb(241, 237, 237);
    border: 2px solid rgb(211, 211, 211);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    opacity: 1;
}
.safari-blocker-msg h2 {
    font-weight: 900;
    text-decoration: underline;
}

.alarmmsg {
    position: absolute;
    text-align: center;
    bottom: 20vh;
    width: 100vw;
    font-size: 3rem;
    font-weight: bold;
}

#canvas {
    border: 4px solid #706966a9;
    border-radius: 8px;
}


/* Screens with lower resolution (max-height: 700px) */
@media (max-width: 1000px), (max-height: 700px) {
    h1 {
        font-size: 2.5rem;
    }
    
    .btn-box {
        position: absolute;
        bottom: 10vh;
        z-index: 6;
    }
}


/* Smartphones and tablets (Landscape-View) */
@media (max-width: 830px)  {

    h1 {
        position: absolute;
        top: 4vh;
        right: auto;
        left: auto;
        z-index: 5;
        font-size: 3rem;
    }
    .wrapper {
        background-color: rgb(59, 58, 58);
    }
    .heading-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h1-mobile {
        top: 1vh;
        font-size: 1.5rem;
    }
    .canvas-box {
        padding: unset;
        overflow: hidden;
        background: unset;
        border: unset;
    }
    .btn-box {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 5vh;
    }
    .btn-box-mobile {
        align-items: unset;
        left: 1.5vw;
        bottom: 0;
    }
    .btn-secondary {
        bottom: 10vh;
        width: auto;
        z-index: 5;
    }

    .restart-btn-mobile {
        font-size: 1.2rem;
        background: rgb(35, 35, 146);
        margin-bottom: unset;
    }

    .fullscreen-btn {
        display: none;
    }

    .instructions {
        display: none;
    }
    .mobile-instructions {
        display: flex;
        width: 60vw;
    }

    #canvas {
        border-radius: unset;
        border: unset;
        width: 100vw;
        object-fit: scale-down;
    }
}

/* Smartphones & tablets (portrait-view) */ 
@media (max-width: 450px) and (min-height: 400px) {
    
    body{
        margin:0;
        overflow:hidden;
    }
    /* flip screen by 90 degrees when in portrait-view */
    .wrapper {
        transform: rotate(90deg);
        transform-origin: bottom left;
        position: absolute;
        top: -100vw;
        left: 0;
        height: 100vw;
        width: 99.9vh;
        overflow: auto;
    }
    .heading-box {
        align-items: unset;
    }
    .canvas-box {
        width: 100vh;
        height: 100vw;
    }

    .mobile-instructions {
        width: 70vw;
    }
    #canvas {
        width: 100vh;
        height: 100vw;
    }
}

@media (max-width: 600px) {
    .btn-secondary {
        padding: 0.1rem 1rem;
    }

    .restart-btn-mobile {
        padding: 0.1rem 1rem;
    }
}

